.about-us-section {
    height: 44%;
}

.about-us-main-text {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
}

.about-us-img {
    position: relative;
    left: 9%;
}

.about-us-description {
    display: flex;
    width: 88%;
    justify-content: space-around;
    flex-direction: row;
}
.about-us-text-hiden{
    transition: opacity 1s ease-in-out;
    width: 52%;
    display: flex;
    top: 10rem;
    left: -30.5rem;
   position: relative;
   text-align: center;
    font-size: 1.5rem;
    opacity: 0;
}

.about-us-text {
    text-align: center;
    width: 52%;
    display: flex;

  position: relative;
  top: 10rem;
  left: 18rem;
    font-size: 1.5rem;
}
.about-us-text-hiden:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 1;

  }

.center-block {
    position: relative;
    left: 14.5%;
    display: flex;
    width: 70%;
    justify-content: space-around;
    flex-direction: row;
}
.go-to-catalog:hover{
    color: #000000;
    text-decoration: none;
}

.go-to-catalog {
    color: #000000;
    text-decoration: none;
    display: flex;
    width: 12rem;
    height: 6.5%;
    top: 33rem;
    border-radius: 2rem;
    position: relative;
    right:60rem;
    align-self: flex-end;
    font-size: 1.7rem;
    cursor: pointer;
}

.go-to-catalog:hover {
    transition: all 1s ease;
    background-color: rgb(243, 237, 237);
}

.about-us-img-second {
    left: 3%;
    position: relative;
}