.product-element {
    display: flex;

}

.main-text {
    margin: 1.6rem 0 5rem 0 ;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

.section {
    margin: 0 0 10rem 0 ;
    
    height: 25%;
    align-self:center;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
}