p {
    position: relative;
    cursor: pointer;
    display: flex;
    
    width: 15rem ;
    
    font-size: 1.2rem;
    text-align: center;
    flex-direction: row;
}
text{
    background-color: rgb(14, 170, 170);
    display: flex;
    width: 20rem;
    padding:0 2rem 2rem 2rem;
    height: 29%;
    margin-left:0.5rem ;
    margin-right:0.5rem ;
    border-radius: 2rem;
    flex-direction: column;
  
}


.find-magazin{
    position: relative;
    height: 2.4rem;
    font-size: 2rem;
    top: 10rem;
    left: -10rem;
    width: 10rem;
}

a{
    text-align: center;
    border-radius: 1rem;
    margin-top: 1rem;
    border: 5px solid rgba(26, 24, 24, 0.5);

    width: 80%;
    color: #000000;
    text-decoration: none;
    align-self:center;
    height: 3rem;
  
    font-size: 2rem;

}
.catalog-body {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}

test {
    position: relative;
    left: 10rem;
    width: 236px;
}

.grid-list {
    height:100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

body {
    background-color: ghostwhite;
}

border-box {
    display: flex;
    flex-direction: row;
}